@charset "utf-8";

/* William Meyers
CIS-130-W01 SU24
Final Project
July 26, 2024 
styles.css */


:root {
    --primary: #8d99ae;
    --dark: #2b2d42;
    --light: #edf2f4;
    --highlight: #ef233c;
}

.size-wrapper {
    min-width: 200px;
}

body {
    display: block;
align-items: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 1em;
    background-color: var(--primary);
    color: var(--dark);
}

header {
    width: 100%;
}

header>h1 {
    display: block;
    font-size: 3em;
    text-align: center;
    margin: 1em;
    width: 100%;
    margin: 0;
}

h1 {
    text-align: center;
    font-size: 2em;
}

nav {
    font-variant: small-caps;
}

nav>ul {
    text-align: center;
    padding-inline-start: 0px;
}

nav>ul>li {
    display: block;
    margin: auto;
    text-align: center;
    border: 1px solid;
    width: 100%;
    padding: 1%;
    font-size: 1.5em;
}

nav>ul>li:hover,
ul>li>a:hover,
td:hover {
    background-color: var(--highlight);
    color: var(--light);
    border-color: var(--dark);
}

a {
    text-decoration: none;
    color: inherit;
}

a:visited {
    text-decoration: none;
    color: inherit;
}

nav>ul>li>a:hover {
    text-decoration: none;
}

footer {
    font-variant: small-caps;
    text-align: center;
    text-align: center;
    border: 1px solid;
}

.aboutme {
    display: block;
}

.articleme {
    background-color: var(--light);
    border: 1px solid;
    padding: 1em;
    margin: 1em;
    width: 100%;
}


.badge,
.projects {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    border: 1px solid;
    box-shadow: 5px 5px 1px var(--dark);
    background-color: white;
}

.projects {
    width: 90%;
    line-height: 1.5em;
}

table {
    padding: 1em
}

tr,
td,
th {
    border: 1px solid;
    line-height: 1.5em;
    padding: .5em;
}

fieldset {
    line-height: 2em;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid;
    box-shadow: 5px 5px 1px var(--dark);
    background-color: white;
    padding: 2%;
}

textarea {
    width: 300px;
    height: 150px;
}

.address {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid;
    box-shadow: 5px 5px 1px var(--dark);
    background-color: white;
    padding: 2%;
}

.wireframe {
    width: 100%;
}


em {
    color: var(--highlight);
}

img#codedotorgsummer24 {
    width: 90%;
}

.video {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (min-width: 600px) {
    .aboutme {
        display: flex;
    }

    nav>ul>li {
        display: inline-block;
        text-align: center;
        border: 1px solid;
        width: 20%;
    }
}