@charset "utf-8";

/* William Meyers
CIS-130-W01 SU24
Final Project
July 26, 2024 
index.html */

body {
    font-size: 1em;
    background-color: lightblue;
}

header>h1 {
    display: block;
    font-size: 3em;
    text-align: center;
    margin: 1em;
}

h1 {
    text-align: center;
    font-size: 2em;
}

nav {
    font-variant: small-caps;
}

nav>ul {
    text-align: center;
    padding-inline-start: 0px;
}

nav>ul>li {
    display: inline-block;
    text-align: center;
    border: 1px solid;
    width: 20%;
}

nav>ul>li:hover,ul>li>a:hover {
    background-color: red;
    color: white;
    border-color: lightblue;
}

a {
    text-decoration: none;
    color: inherit;
}

a:visited {
    text-decoration: none;
    color: inherit;
}

nav>ul>li>a:hover {
    text-decoration: none;
}

footer {
    font-variant: small-caps;
    text-align: center;
    text-align: center;
    border: 1px solid;
}

.aboutme {
    display: block;
}

.articleme {
    background-color: red;
    border: 1px solid;
    padding: 1em;
    margin: 1em;
}

.wireframe {
    width: 100%;
}

@media screen and (min-width: 600px) {
    .aboutme {
        display: flex;
    }
}