@charset "utf-8";

/*
     Name:  William Meyers
     Date:  June 17, 2024
     AssignmentName:  About A Company
     Course:  CIS-130-W01 24 SU
     FileName:  styles.css

*/

body {
    margin: 0 auto;
    width: 100%;
    max-width: 1020px;
    min-width: 640px;
}

body>header {
    width: 100%;
    text-align: center;
    float: right
}

body>nav {
    width: 20%;
    float: left;
    margin: 0 0 0 1.5%;
}

body>article {
    width: 60%;
    float: right;
    margin: 0 3% 0 3%;
    border: inset;
    border-color: purple;
    border-radius: 5%;
}

body>footer {
    width: 100%;
    clear: right;
}

img {
    float: right
}

/* Header Style */

header {
    background-color: rgba(128, 0, 128, .75);
    color: gold;
}

/* HTML and Body Styles */

html {
    background-color: rgba(255, 215, 0, .25);
}

body {
    color: purple;
    font-family: Verdana, Geneva, sans-serif;
}

/* Heading Styles */

h1 {
    font-size: 2.2em;
}

h2 {
    font-size: 1.5em;
}

h1,
h2 {
    font-family: Verdana, Geneva, sans-serif;
    letter-spacing: 0.1em;
}

/* Navigation Styles */

nav {
    line-height: 2em;
    font-size: 0.8em;
    box-shadow: 20px 10px 5px gold;
    color: gold;
    background-color: purple;
}

a {
    color: gold;
    text-decoration: none;
}

/* List Styles */

ul {
    background-color: purple;
    color: gold;
}

/* Footer Styles */

footer {
    background-color: purple;
    color: gold;
    font-family: Verdana, Geneva, sans-serif;
    text-align: center;
}